﻿@model EstoqueModelo.PrecoProposto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Preços Propostos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bicicleta.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicicleta.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GerenteEstoqueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerenteEstoque.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GerenteLojaOnlineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerenteLojaOnline.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NovoPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NovoPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAlterar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAlterar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraAlterar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraAlterar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmadoDataHoraAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmadoDataHoraAlteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alterado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alterado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
