﻿@model IEnumerable<EstoqueModelo.PrecoProposto>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem de Preços Propostos</h2>

<p>
    @Html.ActionLink("Criar um novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bicicleta.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GerenteEstoqueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GerenteLojaOnlineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NovoPreco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAlterar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraAlterar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmadoDataHoraAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alterado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bicicleta.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GerenteEstoque.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GerenteLojaOnline.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NovoPreco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAlterar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraAlterar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmadoDataHoraAlteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alterado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
