﻿<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Avaliação Técnica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Modulo Solutions for GRC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gerentes", "Index", "Gerente")</li>
                    <li>@Html.ActionLink("Bicicletas", "Index", "Bicicleta")</li>
                    <li>@Html.ActionLink("Preços Propostos", "Index", "Preco")</li>
                    <li>@Html.ActionLink("Controle de Estoque", "Index", "Controle")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Modulo Solutions for GRC</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_JQueryUiBundle")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
