﻿@model EstoqueModelo.ControleEstoque

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza da exclusão deste registro?</h3>
<div>
    <h4>Controle de Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bicicleta.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicicleta.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeAtual)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
