﻿@{
    ViewBag.Title = "Modulo Solutions for GRC";
}

<div class="jumbotron">
    <h1>Sistema de Controle de Estoque</h1>
    <p class="lead">Um grupo financeiro comprou duas empresas: uma fábrica de bicicletas e uma empresa de software que ficará encarregada de fazer um sistema de loja online.</p>
    <p><a href="https://br.linkedin.com/in/roberto-silva-4309b87" target="_blank" class="btn btn-primary btn-lg">Acesse meu perfil no Linkedin&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gerentes</h2>
        <p>
            Módulo para manunteção do cadastros dos gerentes.
        </p>
        <p>@Html.ActionLink("Acessar", "Index", "Gerente", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Bicicletas</h2>
        <p>
            Módulo para manunteção do cadastros dos bicicletas.
        </p>
        <p>@Html.ActionLink("Acessar", "Index", "Bicicleta", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Preços Propostos</h2>
        <p>
            Módulo para manunteção dos agendamentos para alteração de preços.
        </p>
        <p>@Html.ActionLink("Acessar", "Index", "Preco", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Controle de Estoque</h2>
        <p>
            Módulo para manunteção da movimentação do estoque.
        </p>
        <p>@Html.ActionLink("Acessar", "Index", "Controle", null, new { @class = "btn btn-default" })</p>
    </div>
</div>